.main {
  width: 100vw;
  height: 100vh;
  background-color: #232529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  width: 315px;
  color : white;
  font-family: Helvetica, sans-serif;
  font-size: 80px;
}

.buttons {
  padding-top: 100px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 20%;
  height: 40px;
  cursor: pointer;
  background-color: #fff0;
  border: 1px solid #ffffff50;
  border-radius: 5px;

  &:hover {
    transform: scale(1.05);
    transition: .3s;
  }
}


.button_font {
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
}